*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --cle:#515151;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #3c9bdead;
}

.navigation{
    position: fixed;
    width: 400px;
    height: 70px;
    background:#ffffffe8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    bottom: 0px;
}

.navigation ul{
    display: flex;
    width: 350px;
}


.navigation ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;

}

.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;

}

.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--cle);
}

.navigation ul li.active a .icon
{
    transform: translateY(-32px);
}

.navigation ul li a .text{
    position: absolute;
    color: var(--cle);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0..05em;
    transition: 0.05s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);

}

.indicator{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: #29fd53;
    border-radius: 50%;
    border: 6px solid var(--cle);
    transition: .5s;
}

.indicator::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius:20px ;
    box-shadow: 0px 0px 0 0 #23c2f1;
}

.indicator::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius:20px ;
    box-shadow: 0px -0px 0 0 #23c2f1;
}


.navigation ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator
{
    transform: translateX(calc(70px * 4));
}

.poweraa{
    width: 80%;
    height: 150px;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 150px;   
}

.poweraa input{
    margin: 10px;
    padding: 9px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    font-size: 15px;
    position: relative;
    top: -71px;
}

.poweraa input:hover{
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px ;
    font-size: 15px;

}

.but{
    padding: 15px;
    margin-top: 25px;
    border-radius: 8px;
    background: greenyellow;
    box-shadow: 10px 5px 5px ;
    font-size: 15px;
    transition: .3s;
    position: relative;
    top: -65px;
}

.but:hover{
    padding: 20px;
    transition: .3s;
}

.lod3{
    border-radius: 22px;
    font-size: 20px;
    font-family: inherit;
    margin: 7px;
    position: relative;
    top: -72px;
}

.poweraa, .poweraaa{
    display: none;
}

.img{
    position: absolute;
    width: 300px;
    border-radius: 50%;
    top: 50px;
    box-shadow: 1px 1px 54px 14px #ffffff;
}

.hh1{
    background: rgb(164, 164, 164);
}

p{
    position: absolute;
    top: 400px;
    text-align: center;
    color: #fff;
    box-shadow: 1px 1px 10px 10px;
    border-radius: 10px;
    padding: 10px;
}

.h11{
    text-align: center;
    color: #fff;
    box-shadow: 1px 1px 10px 10px;
    border-radius: 79px;
    padding: 5px;
    margin-bottom: 30px;
    background: radial-gradient(black, transparent);
    position: relative;
    top: -65px;
}
.t1{
    position: relative;
    top: -55px;
}

.div1{
    display: none;
    text-align: center;
}

.input2{
    text-align: center;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}
        
.teation21{
    text-align: center;
    display: b;
    padding: 25px;
    display: none;
}

.teation21 input{
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;  
    box-shadow: 1px 1px 10px ;
}

.buta7ceb1{
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    top: -50px;
}

button{
    text-align: center;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 14px 3px;
    font-size: 15px;
    font-style: italic; 
}
#alnatL11, #alnatL21{
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    display: none;
    box-shadow: 5px 5px 14px 3px;
}
#but41{
    background: #47af02;
}
#but51{
    background: #ef3603;
}
input{
    position:relative;
    top: -50px;
}
/* h2{
    position: relative;
    top: -55px;
    text-align: center;
} */
.mn1n1m1{
    background: #51515129;
    text-align: center;
    margin-top: 535px;
    margin-bottom: 130px;
    border-radius: 100px;
    box-shadow: 8px 0px 22px 8px;        
}

.butomz{
    background: #2ceb06ed;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    margin: 5px;
    color: black;
    box-shadow: 3px 2px 10px 1px;
}
.butomz:hover{
    background: #02a73c;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    margin: 5px;
    color: black;
    box-shadow: 3px 2px 10px 1px;
}
.butomzd1{
    display: none;
    text-align: center;
    margin-bottom: 110px;
    width: 90%;
}

div button h1{
    font-size: 150%;
}

.imges{
    width: 100%;
    border-radius: 10px;
}

Embed{
    width: 100%;
    height: 200px;
}

.Lifting{
    display: none;
    text-align: center;
}


#Lifting input{
    width: 80%;
    top: -30px;
    border-radius: 8px;
    margin: 4px;
    text-align: center;
}


#Lifting h2{
    padding: 1px;
    background: darkorange;
    top: 0px;
    margin: 13px;
    border-radius: 60px;
}

#but511{
    display: none;
    position: absolute;
    top: 10px;
}

#download{
    position: absolute;
    top: 80px;
    background-image: linear-gradient( to left, #b7ff00, rgb(98, 255, 0) );
    display: none;
}
#download:hover{
    position: absolute;
    top: 80px;
    background-image: linear-gradient( to left, #689003, rgb(98, 255, 0) );
    display: none;
    padding: 18px;
}
#butomz4, #but511, #but411{
    background-image: linear-gradient( to left, #ff9900, cyan );
    border: #000000 3px solid;
    box-shadow: rgb(0, 0, 0) 10px 10px 20px 3px;
    color: #000000;
}
#but411{
    position: relative;
    top: -30px; 
}


.h12{
    position: relative;
    top: -30px;
}
#alnatL12{
    background-image: linear-gradient(to left, #0f8bf1, #fffa00);
    box-shadow: 1px 1px 20px 1px ;
    border-radius: 10px;
    padding: 20px;
    margin: 1px;
    width: 95%;
    text-align: left;
    display: none;
}
